<template name="adminStatus">
  {{# Layout template="orionMaterializeHeaderContainer" }}
    Server Status
  {{/ Layout }}
  {{# Layout template="orionMaterializeContentContainer" }}
    {{# if runningSlaves }}
      <p>
        <b>Active jobs</b>
      </p>
      <ul class="collection">
        {{# each runningSlaves }}
          <li class="collection-item">
            <code>{{ type }}</code>
            <span class="badge red white-text" style="border-radius: 2px; min-width: 60px">{{ timeago startedAt }}</span>
          </li>
        {{/ each }}
      </ul>
      <br>
    {{ else }}
      <p>
        <b>0</b> active jobs.
      </p>
    {{/ if }}
    <p>
      Pending Jobs: <b>{{ getPublishedCount 'pendingSlaves' }}</b>
    </p>
    <p>
      Total Jobs: <b>{{ getPublishedCount 'totalSlaves' }}</b>
    </p>
  {{/ Layout }}
</template>
